@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nakilla';
    src: url('/resources/font/Nakilla_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
